*{
    margin: 0;
    padding: 0;
    justify-content: center ;
    
}
body{
    background-color: rgb(41, 84, 51);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
.heading{
    color: antiquewhite;
    margin: 1 rem;
    padding: 1 rem;
}
.container{
    height: 70vh; 
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    background-color: rgb(186, 208, 225);
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1 rem rgba(15, 2, 2, 0.3);
    font-size: 8vmin;
    color:rgb(122, 47, 47)
    
}
#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(46, 44, 44);
    color: rgb(184, 199, 194);
    border-radius: 1rem;
    border: none;
}
#newGameBtn {
     padding: 1rem;
    font-size: 1.25rem;
    background-color: rgb(46, 44, 44);
    color: rgb(184, 199, 194);
    border-radius: 1rem;
    border: none;
}

#msg {
    color: blanchedalmond;
    font-size: 8vmin;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

}
.hide{
    display: none;
}